<div id="comments">
	<ul class="comments" *ngIf="comments">
		<li *ngFor="let comment of comments">
			<span>{{ comment.description }} – {{ getFullAuthorName(comment.user) }} {{ getCorrectDate(comment) }}</span>
		</li>
	</ul>
	<div>
		<button [hidden]="hideButton" class="btn btn-outline btn-radius btn-xs pull-right" (click)="openForm()">add comment</button>
		<form [@hideForm]="hideForm" [formGroup]="commentForm">
			<input type="text" formControlName="description" class="form-control" (keypress)="eventHandler($event)" />
		</form>
	</div>

</div>